<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <div>
  <section class="content-section">
    <header class="section-header">
      <hr><h2>Personal Info</h2><hr>
    </header>

    <div class="contact-info">
      <p class="resume-item contact-item">Sergey Bykov</p>
      <p class="resume-item contact-item">+7 925 926 18 23, sergey.bykov88@gmail.com</p>
      <br>
      <p class="resume-item contact-item">LinkedIn: <a class="personal-url" href="https://www.linkedin.com/in/sbykov">https://www.linkedin.com/in/sbykov</a></p>
      <p class="resume-item contact-item">Stackoverflow: <a class="personal-url" href="https://stackoverflow.com/users/5823050">https://stackoverflow.com/users/5823050</a></p>
      <p class="resume-item contact-item">Github: <a class="personal-url" href="https://github.com/CaptainTrunky">https://github.com/CaptainTrunky</a></p>
    </div>
  </section>

  <section class="content-section">
    <header class="section-header">
      <hr><h2>Experience</h2><hr>
    </header>

    <ul>
      {% for job in site.data.experience %}
        <li>
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <p class="resume-item-title" itemprop="name">{{ job.company }}, {{ job.position }}, {{ job.duration }} </p>
            <p class="resume-item-details"> {{ job.summary }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  </section>
  <section class="content-section">
    <header class="section-header">
      <hr><h2>Education</h2><hr>
    </header>

    <ul>
    {% for education in site.data.education %}
      <li>
      <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
        <p class="resume-item-title" itemprop="name">{{ education.uni }}, {{ education.degree }}, {{ education.year }}</p>
        <p>{{ education.summary }}</p>
      </div>
      </li>
    {% endfor %}
    </ul>
  </section>



  <section class="content-section">
    <header class="section-header">
      <hr><h2>Skills</h2><hr>
    </header>
    {% for skill in site.data.skills %}
      <div class="resume-item">
        <p class="resume-item-details skill"><span class="highlighted">{{ skill.skill }}</span>: {{ skill.description }}</p>
      </div>
    {% endfor %}
  </section>

  <section class="content-section">
    <header class="section-header">
      <hr><h2>Publications</h2><hr>
    </header>
    <ul>
    {% for pub in site.data.publications %}
      <li>
      <div class="resume-item">
        <p class="resume-item-details">{{ pub.title }} <br>
	{{ pub.authors }}; {{ pub.conf }} </p>
      </div>
      </li>
    {% endfor %}
    </ul>
  </section>

  <!-- <div class="pagebreak"> </div> -->
  <section class="content-section">
    <header class="section-header">
      <hr><h2>Showcase</h2><hr>
    </header>
      <div class="resume-item showcase-row">
	<div class="showcase-column">
          I've passed multiple MOOCs and offline courses covering the following topics:
          <ul class="papers-block">
            {% for course in site.data.courses %}
              {% if course.url %}
		<li class="resume-item-copy ">
	          <a class="showcase-link" href="{{ course.url }}">
	            {{ course.title }}
		  </a></li>
              {% else %}
                <li class="showcase-item-copy">{{ course.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
	<div class="showcase-column">
	  My github profiles provides a few tiny projects made just for fun:
          <ul>
            {% for demo in site.data.showcase %}
              <li class="showcase-item-copy ">
	        <a class="showcase-link" href="{{ demo.url }}">
	          {{ demo.title }}
		</a>
		<p class="resume-item-copy"> {{ demo.description }} </p>
	      </li>
            {% endfor %}
          </ul>
	</div>
      </div>
  </section>

</html>
