body {
  font-size: 12;
  color: #000000;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 1px;
  color: #000000;
  background: none;
  border: 1px solid black;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.0;
  color: #000000;
  letter-spacing: -1px;
  text-align: left;
}

h3 h4 h5 {
  font-size: 12px;
}

ul li {
  margin-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media print {
  .pagebreak { break-after: always; }
}

.papers-block {
  margin-left: 15px;
}

.resume-item-title {
  margin-left: 0px;
  margin-bottom: 0px;
}

.resume-item-details {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.resume-item {
  max-width: 1024px;
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.skill {
  margin-left: 20px;
}

.resume-item-copy {
  word-wrap: break-word;
  margin-left: 0px;
}

.showcase-link {
  text-decoration: underline;
  color: #000000;
}

.showcase-row {
  display: flex;
}

.showcase-column {
  flex: 50%;
  border-left: 5px solid transparent;
  border-right: 15px solid transparent;
}

.highlighted {
  font-weight: bold;
}

.contact-info {
  float: left;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 18px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: lightgray;
}

.contact-header {
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}

.contact-item {
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 14px;  
}

.personal-url {
  all: unset;
}
