<!DOCTYPE html>
<html>
    <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>
    <section class="content-section">
    <header class="section-header">
      <hr><h2>Summary</h2><hr>
    </header>
      <div class="resume-item">
        Hi, my name is Sergey and <strike>this is my favorite CV over Github</strike>.
	I would like to introduce myself as a researcher in computer science, who spent too much time succesfully dealing with <span class="highlighted">computer vision,
	computational geometry, robotics</span> and weird things as <span class="highlighted">discrete optimization and bounded model checking</span>.
      </div><!-- end of resume-item -->
  </section>
	
  <section class="content-section">
    <header class="section-header">
      <hr><h2>Experience</h2><hr>
    </header>

    {% for job in site.data.experience %}
      <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
        <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
        <p class="resume-item-copy">{{ job.summary }}</p>
      </div><!-- end of resume-item -->
    {% endfor %}

  </section>
  <section class="content-section">
    <header class="section-header">
      <hr><h2>Education</h2><hr>
    </header>

    {% for education in site.data.education %}
      <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
        <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
        <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
        <p class="resume-item-copy">{{ education.summary }}</p>
      </div>
    {% endfor %}
  </section>

  <section class="content-section">
    <header class="section-header">
      <hr><h2>Skills</h2><hr>
    </header>
    {% for skill in site.data.skills %}
      <div class="resume-item">
        <h3 class="resume-item-details">{{ skill.skill }}</h4>
        <p class="resume-item-copy">{{ skill.description }}</p>
      </div>
    {% endfor %}
  </section>

  <section class="content-section">
    <header class="section-header">
      <hr><h2>Publications</h2><hr>
    </header>
    {% for pub in site.data.publications %}
      <div class="resume-item">
        <h3 class="resume-item-details">{{ pub.title }}</h4>
	<p class="resume-item-copy">{{ pub.authors }}; {{ pub.conf }} </p>
      </div>
    {% endfor %}
  </section>

  <section class="content-section">
    <header class="section-header">
      <hr> <h2>Showcase</h2> <hr>
    </header>
      <div class="resume-item showcase-row">
	<div class="showcase-column">
          <ul class="papers-block">
            {% for course in site.data.courses %}
              {% if course.url %}
		<li class="resume-item-copy ">
	          <a class="showcase-link" href="{{ course.url }}">
	            {{ course.title }}
		  </a></li>
              {% else %}
                <li class="resume-item-copy">{{ course.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
	<div class="showcase-column">
          <ul>
            {% for demo in site.data.showcase %}
              <li class="resume-item-copy ">
	        <a class="showcase-link" href="{{ demo.url }}">
	          {{ demo.title }}
		</a>
		<p> {{ demo.description }} </p>
	      </li>
            {% endfor %}
          </ul>
	</div>
      </div>
  </section>

</html>
